# .gitignore file for picosdk-vb-dot-net-examples repository
# Untracked files/folders to ignore.

# Folders

**/.vs
**/bin
**/obj

# Files 
**/*.suo
**/*.vbproj.user
**/*.opensdf
**/*.exe
**/*.dll
**/*.txt
